body {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
margin: 0;
display: flex;
flex-direction: column;
}

img {
max-height: 100%;
max-width: 100%;
}

.container {
background-color: #1f2937;
height: 500px;
width: 100%;
display: flex;
flex-flow: column nowrap;
}

.header {
display: flex;
justify-content: center;
gap: 640px;
margin-bottom: 38px;
}

.header-logo {
font-size: 24px;
color: #f9faf8;
align-self: center;
}

a {
text-decoration: none;
color: #e5e7eb;
}

.left-links {
font-size: 18px;
list-style: none;
display: flex;
gap: 16px;
}

.main {
height: 400px;
display: flex;
justify-content: center;
align-items: center;
gap: 330px;
}

.main-text {
width: 25%;
display: flex;
flex-flow: column nowrap;
justify-content: center;

}

.title {
font-size: 48px;
font-weight: bolder;
color: #f9faf8;
}

.secondary-text {
font-size: 18px;
color: #e5e7eb;
}

button.button-1 {
border-style: none;
}

.main-image {
align-self: center;
width: 466px;
height: 244px;
}

button {
border-radius: 8px;
padding-left: 32px;
padding-right: 32px;
padding-top: 8px;
padding-bottom: 8px;
font-size: 18px;   
background-color: #3882f6;
color: #f9faf8;
}

.container-2 {
text-align: center;
display: flex;
flex-direction: column;
}

.information-text {
margin-top: 36px;
font-size: 36px;
font-weight: bolder;
color: #1f2937;
align-self: center;
}

.box-container {
margin-bottom: 72px;
margin-top: 36px;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 52px; 

}

.box-item {
max-width: 200px;
display: flex;
flex-direction: column;
}

.box {
border-style: solid;
border-color: #3882f6;
border-radius: 1rem;
height: 180px;
width: 180px;
align-self: center;
}


.box-text {
display: flex;
flex-flow: column wrap;
}

.quote-container {
height: 400px;
background-color: #e5e7eb;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.quote {
max-width: 800px;
}

.quote-text {
font-size: 36px;
color: #1f2937;
font-style: italic;
font-weight: 300;
}

.quote-author {
font-size: 24px;
font-weight: bolder;
display: flex;
justify-content: flex-end;
}

.card-container {
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}

.card {
width: 80%;
height: 60%;
border-radius: 0.5rem;
background-color: #3882f6;
display: flex;
flex-direction: row;
justify-content: center;
gap: 400px;
}

.card-text {
align-self: center;
}

.action {
font-size: 24px;
color: #f9faf8;

} 

.sign-up {
color: #f9faf8;
}

.card-button {
align-self: center;
}

button.button-2 {
border-color: #f9faf8;
border-style: double;
}

.footer {
height: 80px;
background-color: #1f2937;
}

.footer-text {
height: 80px;
color: #f9faf8;
display: flex;
justify-content: center;
align-items: center;
}